Repository ilyafedotov-ops/SimpleAdminReporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, frontend-lint, check-test-credentials, check-env-files

Path conditions:
  backend-lint: any of: ^backend/.*\.(ts|js)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  check-test-credentials: any of: .*\.(ts|js|tsx|jsx)$
  check-env-files: any of: \.env$

fix: reduce ESLint warnings from 48 to 7 and set max-warnings to 10
  frontend/package.json
  frontend/src/hooks/__tests__/useErrorHandler.enhanced.test.ts
  frontend/src/services/__tests__/authService.test.ts
  frontend/src/test-scenarios/__tests__/edge-cases.test.tsx
  frontend/src/test-scenarios/__tests__/retry-logic.test.tsx
  frontend/src/utils/test-exports.ts
  frontend/src/utils/test-helpers.ts
  frontend/src/utils/test-utils.tsx
  frontend/vitest.config.improved.ts
Due: frontend-lint, check-test-credentials

fix: resolve test failures in reports controller tests
  backend/src/controllers/reports.controller.preview.test.ts
  backend/src/controllers/reports.controller.test.ts
Due: backend-lint, check-test-credentials

chore: sync protocol demo-pr-test
  .deksdenflow-pr-check
Due: none

ci: fix dependabot docker directories
  .github/dependabot.yml
Due: none

fix: address post-merge security findings
  backend/src/auth/controllers/azure-oauth.controller.ts
  backend/src/config/session.config.ts
  backend/src/controllers/export.controller.test.ts
  backend/src/controllers/export.controller.ts
  backend/src/middleware/validation.middleware.test.ts
  backend/src/middleware/validation.middleware.ts
  backend/src/services/health/checkers/ldap-health-checker.ts
  backend/src/utils/encryption.test.ts
  backend/src/utils/encryption.ts
  frontend/public/auth/azure/callback.html
Due: backend-lint, check-test-credentials

chore: ignore test-only codeql noise
  .github/codeql/codeql-config.yml
  backend/src/app.cookie.ts
Due: backend-lint, check-test-credentials

docs: refresh project status and dependency triage
  PROJECT_STATUS.md
  README.md
  docs/DEPENDENCY_PR_TRIAGE.md
  docs/PROJECT_STATUS.md
  docs/README.md
Due: none

fix: address post-merge security and documentation follow-ups (#23)
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  PROJECT_STATUS.md
  README.md
  backend/src/app.cookie.ts
  backend/src/auth/controllers/azure-oauth.controller.ts
  backend/src/config/session.config.ts
  backend/src/controllers/export.controller.test.ts
  backend/src/controllers/export.controller.ts
  backend/src/middleware/validation.middleware.test.ts
  backend/src/middleware/validation.middleware.ts
  backend/src/services/health/checkers/ldap-health-checker.ts
  backend/src/utils/encryption.test.ts
  backend/src/utils/encryption.ts
  docs/DEPENDENCY_PR_TRIAGE.md
  docs/PROJECT_STATUS.md
  docs/README.md
  frontend/public/auth/azure/callback.html
Due: backend-lint, check-test-credentials

ci: update frontend workflow tooling
  .github/workflows/ci.yml
Due: none

fix(frontend): stabilize post-merge e2e flows
  frontend/e2e/pages/dashboard.page.ts
  frontend/e2e/pages/login.page.ts
  frontend/e2e/pages/report-builder.page.ts
  frontend/e2e/pages/reports.page.ts
  frontend/e2e/pages/settings.page.ts
  frontend/e2e/tests/auth/login.spec.ts
  frontend/e2e/tests/auth/logout.spec.ts
  frontend/e2e/tests/auth/session-management.spec.ts
  frontend/e2e/tests/cross-browser/browser-compatibility.spec.ts
  frontend/e2e/tests/data-management/credential-management.spec.ts
  frontend/e2e/tests/data-management/field-discovery.spec.ts
  frontend/e2e/tests/navigation/app-navigation.spec.ts
  frontend/e2e/tests/reports/report-builder.spec.ts
  frontend/e2e/tests/reports/report-execution.spec.ts
  frontend/e2e/tests/visual/visual-regression.spec.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/src/components/credentials/CredentialForm.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/notifications/NotificationDropdown.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/dashboard/DashboardPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/authService.cookie.ts
  frontend/src/services/authService.ts
  frontend/src/services/credentials.api.ts
  frontend/src/store/slices/authSlice.ts
  frontend/src/utils/errorHandler.ts
Due: frontend-lint, check-test-credentials

docs: design stale logout marker fix
  docs/superpowers/specs/2026-07-11-cookie-login-logout-marker-design.md
Due: none

docs: add cookie login marker implementation plan
  .gitignore
  docs/superpowers/plans/2026-07-11-cookie-login-logout-marker.md
Due: none

fix(frontend): clear stale logout marker on cookie login
  frontend/src/services/authService.cookie.test.ts
  frontend/src/services/authService.cookie.ts
Due: frontend-lint, check-test-credentials

fix(frontend): harden auth session e2e flows
  frontend/e2e/tests/auth/session-management.spec.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/playwright.config.ci.ts
  frontend/playwright.config.ts
  frontend/src/services/authService.cookie.test.ts
  frontend/src/services/authService.cookie.ts
  frontend/src/services/authService.test.ts
  frontend/src/services/authService.ts
Due: frontend-lint, check-test-credentials

chore: ignore generated frontend test reports
  .gitignore
  frontend/junit.xml
  frontend/playwright-report/index.html
Due: none

test(frontend): remove unused auth validate mock
  frontend/e2e/tests/auth/session-management.spec.ts
Due: frontend-lint, check-test-credentials

test(frontend): align stale auth layout expectations
  frontend/src/components/layout/__tests__/MainLayout.test.tsx
  frontend/src/services/__tests__/authService.test.ts
Due: frontend-lint, check-test-credentials

fix(backend): update npm in docker image
  backend/Dockerfile
Due: none

fix(ci): build frontend docker image from correct file
  .github/workflows/ci.yml
  frontend/Dockerfile
Due: none

fix(frontend): stabilize ci e2e suite
  frontend/e2e/pages/dashboard.page.ts
  frontend/e2e/tests/auth/session-management.spec.ts
  frontend/e2e/tests/data-management/credential-management.spec.ts
  frontend/e2e/tests/navigation/app-navigation.spec.ts
  frontend/playwright.config.ci.ts
Due: frontend-lint, check-test-credentials

fix(ci): invoke deploy scripts with bash
  .github/workflows/ci.yml
Due: none

fix(ci): skip unconfigured production deploy
  .github/workflows/ci.yml
Due: none

fix(ci): skip unconfigured production deploy (#34)
  .github/workflows/ci.yml
Due: none

chore(frontend): update ESLint tooling
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, check-test-credentials

chore(frontend): update Vitest tooling
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/__tests__/useLogsData.test.ts
  frontend/src/setupTests.ts
  frontend/src/test-setup.ts
  frontend/vitest.config.ts
Due: frontend-lint, check-test-credentials

fix(frontend): update MSAL redirect config
  frontend/src/config/msal.config.ts
  frontend/src/services/auth/msal-auth.service.ts
Due: frontend-lint, check-test-credentials

fix(frontend): update Vite manual chunks config
  frontend/vite.config.ts
Due: frontend-lint, check-test-credentials

fix: harden credential handling
  .gitguardian.yaml
  .github/workflows/ci.yml
  .gitleaks.toml
  .gitleaksignore
  .pre-commit-config.yaml
  backend/src/auth/strategies/cookie.strategy.comprehensive.test.ts
  backend/src/auth/strategies/jwt.strategy.comprehensive.test.ts
  backend/src/test/e2e/utils/test-data-manager.ts
  docker-compose.production.yml
  docker-compose.staging.yml
  docs/API_DOCUMENTATION.md
  docs/SECURITY_TESTING_GUIDE.md
  package.json
  scripts/Get-AzureClientSecret.ps1
  scripts/crontab.example
  tests/verify-secret-hardening.test.sh
Due: backend-lint, check-test-credentials

fix: harden credential handling (#38)
  .gitguardian.yaml
  .github/workflows/ci.yml
  .gitleaks.toml
  .gitleaksignore
  .pre-commit-config.yaml
  backend/src/auth/strategies/cookie.strategy.comprehensive.test.ts
  backend/src/auth/strategies/jwt.strategy.comprehensive.test.ts
  backend/src/test/e2e/utils/test-data-manager.ts
  docker-compose.production.yml
  docker-compose.staging.yml
  docs/API_DOCUMENTATION.md
  docs/SECURITY_TESTING_GUIDE.md
  package.json
  scripts/Get-AzureClientSecret.ps1
  scripts/crontab.example
  tests/verify-secret-hardening.test.sh
Due: backend-lint, check-test-credentials

fix: serialize oauth errors safely
  backend/src/auth/controllers/azure-oauth.controller.security.test.ts
  backend/src/auth/controllers/azure-oauth.controller.ts
Due: backend-lint, check-test-credentials

fix: serialize oauth errors safely (#39)
  backend/src/auth/controllers/azure-oauth.controller.security.test.ts
  backend/src/auth/controllers/azure-oauth.controller.ts
Due: backend-lint, check-test-credentials
