Repository ilyafedotov-ops/SimpleAdminReporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, frontend-lint, check-test-credentials, check-env-files

Path conditions:
  backend-lint: any of: ^backend/.*\.(ts|js)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  check-test-credentials: any of: .*\.(ts|js|tsx|jsx)$
  check-env-files: any of: \.env$

release: version 1.0.0-beta with comprehensive release notes
  RELEASE_NOTES.md
  backend/package.json
  frontend/package.json
Due: none

chore: remove Reports-hub.png from project root
  Reports-hub.png
Due: none

feat: add dual-platform CI/CD pipeline support
  .github/workflows/ci.yml
  README.md
Due: none

chore: remove zero-size temporary files from docs directory
  docs/AOCOL8~Q
  docs/S5WYT8~G
Due: none

fix: remove npm cache from validate job in GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

docs: update .env.example with missing configuration variables
  .env.example
Due: none

fix: replace Math.random() with crypto.randomBytes() in test data generation
  frontend/e2e/fixtures/test-data.ts
Due: frontend-lint, check-test-credentials

refactor: fix linting issues in reports.routes.test.ts
  backend/src/routes/reports.routes.test.ts
Due: backend-lint, check-test-credentials

docs: add GitHub configuration and commit standards documentation
  CLAUDE.md
Due: none

chore: add case-sensitive claude file entries to .gitignore
  .gitignore
Due: none

chore: remove CLAUDE.md from git tracking and add to .gitignore
  .gitignore
  CLAUDE.md
Due: none

chore: add attribution replacement scripts to .gitignore
  .gitignore
Due: none

fix: resolve linting issues across 15 backend test files
  .husky/pre-commit
  backend/src/config/ldap.test.ts
  backend/src/controllers/admin/security.controller.test.ts
  backend/src/controllers/health.controller.test.ts
  backend/src/controllers/reports.controller.test.ts
  backend/src/services/logs-fulltext-search.test.ts
  backend/src/services/materialized-views.service.test.ts
  backend/src/services/query/QueryService.integration.test.ts
  backend/src/services/query/QueryValidator.test.ts
  backend/src/services/search.service.test.ts
  backend/src/test/security-improvements.test.ts
  backend/src/tests/auth/cookie-auth.test.ts
  backend/src/tests/security/auth-security.integration.test.ts
  backend/src/utils/preview-data-extractor.error-scenarios.test.ts
Due: backend-lint, check-test-credentials

test: verify husky pre-commit hook
  test-file.txt
Due: none

fix: configure husky pre-commit hooks properly
  .husky/pre-commit
  package-lock.json
Due: none

test: check husky linting with console.log
  backend/test-lint.ts
Due: backend-lint, check-test-credentials

fix: improve husky pre-commit hook file path handling
  .husky/pre-commit
  backend/test-lint.ts
Due: backend-lint, check-test-credentials

refactor: reduce ESLint warnings from 141 to 112 (29 fixes)
  backend/.eslintrc.js
  backend/src/auth/controllers/unified-auth.controller.comprehensive.test.ts
  backend/src/auth/services/unified-auth.service.comprehensive.test.ts
  backend/src/config/database.test.ts
  backend/src/controllers/graph.controller.test.ts
  backend/src/controllers/health.controller.test.ts
  backend/src/controllers/reports.controller.testCustomQuery.test.ts
  backend/src/controllers/system.controller.test.ts
  backend/src/routes/__tests__/auth.routes.test.ts
  backend/src/routes/__tests__/graph.routes.test.ts
  backend/src/routes/__tests__/health.routes.test.ts
  backend/src/routes/__tests__/logs.routes.test.ts
  backend/src/routes/__tests__/notifications.routes.test.ts
  backend/src/routes/__tests__/search.routes.test.ts
  backend/src/routes/__tests__/system.routes.test.ts
  backend/src/routes/__tests__/user-preferences.routes.test.ts
  backend/src/routes/auth.routes.test.ts
  backend/src/routes/health.routes.test.ts
  backend/src/routes/reports.routes.test.ts
  backend/src/test/e2e/auth.e2e.test.ts
  backend/src/test/e2e/database-stability.e2e.test.ts
  backend/src/utils/graph-utils.test.ts
  backend/src/utils/preview-data-extractor.enhanced.test.ts
  backend/src/utils/preview-data-extractor.generic.test.ts
  backend/src/utils/preview-data-extractor.test.ts
Due: backend-lint, check-test-credentials

fix: add ESLint disable comments for legitimate console usage in E2E test runner
  backend/src/test/e2e/run-e2e-tests.ts
Due: backend-lint, check-test-credentials

fix: remove TypeScript 'any' types from cookie auth service
  frontend/src/services/authService.cookie.ts
Due: frontend-lint, check-test-credentials

fix: resolve TypeScript warnings and errors in retry-logic test
  frontend/src/test-scenarios/__tests__/retry-logic.test.tsx
Due: frontend-lint, check-test-credentials

fix: resolve unsafe optional chaining errors in useFieldDiscovery hook
  frontend/src/hooks/useFieldDiscovery.ts
Due: frontend-lint, check-test-credentials

fix: resolve undefined refreshHistory function errors in ReportHistoryPage
  frontend/src/pages/reports/ReportHistoryPage.tsx
Due: frontend-lint, check-test-credentials

fix: resolve CodeQL type confusion security alert in QueryBuilder
  backend/src/services/query/QueryBuilder.test.ts
  backend/src/services/query/QueryBuilder.ts
Due: backend-lint, check-test-credentials

fix: resolve CodeQL path injection vulnerability in export controller
  backend/src/controllers/export.controller.test.ts
  backend/src/controllers/export.controller.ts
Due: backend-lint, check-test-credentials

fix: resolve TypeScript errors and warnings in frontend services
  frontend/src/services/reportsService.test.ts
  frontend/src/services/reportsService.ts
  frontend/src/setupTests.ts
Due: frontend-lint, check-test-credentials

fix: improve TypeScript type safety in utilities and services
  frontend/src/components/settings/AzureCredentialForm.tsx
  frontend/src/hooks/__tests__/useQuery.test.ts
  frontend/src/services/api.cookie.ts
  frontend/src/test-setup.ts
  frontend/src/utils/errorHandler.ts
  frontend/src/utils/test-utils.tsx
Due: frontend-lint, check-test-credentials

fix: replace any types with proper TypeScript interfaces
  frontend/src/components/credentials/CredentialList.tsx
  frontend/src/components/graph/GraphQueryBuilder.tsx
  frontend/src/services/graph.service.ts
  frontend/src/utils/test-mocks.ts
Due: frontend-lint, check-test-credentials

fix: enhance TypeScript typing in ProtectedRoute tests
  frontend/src/components/auth/__tests__/ProtectedRoute.test.tsx
Due: frontend-lint, check-test-credentials

feat: reduce ESLint warnings to 6 and update CI pipeline threshold to 10
  frontend/junit.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/credentials/CredentialForm.tsx
  frontend/src/components/graph/GraphEntitySelector.tsx
  frontend/src/components/layout/__tests__/MainLayout.test.tsx
  frontend/src/components/notifications/NotificationDropdown.tsx
  frontend/src/components/query/QueryBuilderModal.tsx
  frontend/src/components/query/QueryPreviewErrorBoundary.tsx
  frontend/src/components/query/__tests__/QueryBuilderModal.integration.test.tsx
  frontend/src/components/query/__tests__/QueryPreviewErrorBoundary.test.tsx
  frontend/src/components/reports/CredentialSelector.tsx
  frontend/src/components/reports/ReportDataTable.test.tsx
  frontend/src/components/reports/__tests__/ReportViewer.enhanced.test.tsx
  frontend/src/components/ui/ErrorBoundary.tsx
  frontend/src/hooks/__tests__/useErrorHandler.enhanced.test.ts
  frontend/src/hooks/__tests__/useLogsData.test.ts
  frontend/src/hooks/__tests__/useQuery.test.ts
  frontend/src/hooks/useDashboardStats.ts
  frontend/src/pages/health/HealthPage.tsx
  frontend/src/pages/templates/TemplatesPageV2.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/authService.test.ts
  frontend/src/services/__tests__/graphService.test.ts
  frontend/src/services/__tests__/logsService.test.ts
  frontend/src/services/__tests__/queryService.test.ts
  frontend/src/services/api.ts
  frontend/src/services/authService.ts
  frontend/src/services/credentials.api.ts
  frontend/src/store/slices/__tests__/querySlice.test.ts
  frontend/src/store/slices/authSlice.ts
  frontend/src/test-scenarios/__tests__/edge-cases.test.tsx
  frontend/src/test-scenarios/__tests__/error-scenarios.test.tsx
  frontend/src/types/preview-response.integration.test.ts
  frontend/src/utils/test-mocks.ts
Due: frontend-lint, check-test-credentials

fix: resolve TypeScript test compilation errors and improve CI lint standards
  backend/src/controllers/system.controller.test.ts
  backend/src/routes/reports.routes.test.ts
  backend/src/test/security/automated-security-scanner.ts
Due: backend-lint, check-test-credentials

fix: resolve CodeQL biased cryptographic random vulnerability in test-data.ts
  frontend/e2e/fixtures/test-data.ts
Due: frontend-lint, check-test-credentials

fix: implement proper rate limiting middleware to prevent brute force attacks
  backend/src/middleware/rate-limit.middleware.ts
  backend/src/tests/auth/cookie-auth.test.ts
Due: backend-lint, check-test-credentials

fix: reduce ESLint warnings from 96 to 0 and update CI threshold to 10
  backend/src/controllers/system.controller.test.ts
  backend/src/routes/__tests__/user-preferences.routes.test.ts
  backend/src/routes/auth.routes.test.ts
  backend/src/routes/reports.routes.test.ts
  backend/src/routes/reports.routes.ts
  backend/src/services/failed-login-tracker.service.test.ts
  backend/src/services/health/health.service.test.ts
  backend/src/services/preview.service.edge-cases.test.ts
  backend/src/services/preview.service.integration.test.ts
  backend/src/services/preview.service.integration.typed.test.ts
  backend/src/services/query/QueryValidator.test.ts
  backend/src/test/e2e-setup.ts
  backend/src/test/e2e/api.e2e.test.ts
  backend/src/test/e2e/auth.e2e.test.ts
  backend/src/test/e2e/database-stability.e2e.test.ts
  backend/src/test/e2e/logs.e2e.test.ts
  backend/src/test/e2e/reports.e2e.test.ts
  backend/src/test/e2e/setup.ts
  backend/src/test/e2e/utils/test-data-manager.ts
  backend/src/test/fixtures/secure-test-credentials.ts
  backend/src/test/mock-utils.ts
  backend/src/test/security/automated-security-scanner.ts
  backend/src/test/security/comprehensive-security-test-suite.ts
  backend/src/test/security/input-validation-tests.ts
  backend/src/test/security/session-token-security-tests.ts
  backend/src/test/setup.ts
  backend/src/test/test-helpers.ts
  backend/src/types/shared-types.test.ts
  backend/src/utils/preview-data-extractor.edge-cases.test.ts
  backend/src/utils/preview-data-extractor.enhanced.test.ts
  backend/src/utils/preview-data-extractor.generic.test.ts
Due: backend-lint, check-test-credentials

fix: update GitLab CI lint threshold from 20 to 10 warnings for backend
  .gitlab/ci/scripts/lint-check.sh
Due: none

fix: apply comprehensive rate limiting to unified auth routes
  backend/src/auth/routes/unified-auth.routes.ts
Due: backend-lint, check-test-credentials

fix: improve frontend test coverage and error handling implementation
  frontend/junit.xml
  frontend/src/hooks/__tests__/useErrorHandler.enhanced.test.ts
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/utils/errorHandler.ts
Due: frontend-lint, check-test-credentials

test: enhance frontend test suite with improved coverage and robustness
  frontend/junit.xml
  frontend/src/components/reports/__tests__/ReportViewer.enhanced.test.tsx
  frontend/src/hooks/__tests__/useErrorHandler.enhanced.test.ts
  frontend/src/services/__tests__/reportsService.query.test.ts
  frontend/src/test-scenarios/__tests__/edge-cases.test.tsx
  frontend/src/test-scenarios/__tests__/retry-logic.test.tsx
Due: frontend-lint, check-test-credentials

feat: implement comprehensive frontend test improvements using multi-agent approach
  frontend/junit.xml
  frontend/src/hooks/__tests__/useErrorHandler.enhanced.test.ts
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/test-scenarios/__tests__/edge-cases.test.tsx
  frontend/src/test-scenarios/__tests__/error-scenarios.test.tsx
  frontend/src/test-scenarios/__tests__/retry-logic.test.tsx
  frontend/src/utils/test-setup.ts
  frontend/src/utils/test-utils.tsx
  frontend/test-quality-metrics.md
  frontend/vitest.config.improved.ts
Due: frontend-lint, check-test-credentials
